[Desktop Entry]
Name=WhatPulse
GenericName=Statistics collector
Comment=All you need to know everything about your computing habits
Exec=/usr/local/bin/whatpulse -delaystartup
Terminal=false
Type=Application
Icon=whatpulse
Categories=Network;Statistics;
StartupNotify=false
